[
	{
		"name":"Token1",
		"library":"/usr/lib/libwdpkcs.dylib"
	},
	{
		"name":"Token2",
		"library":"/usr/local/lib/libwdpkcs.dylib"
	},
	{
		"name":"Token3",
		"library":"/usr/local/lib/libetpkcs11.dylib"
	},
	{
		"name":"Token4",
		"library":"/usr/local/lib/libaetpkss.dylib"
	},
	{
		"name":"Token5",
		"library":"/Applications/WatchKey USB Token Admin Tool.app/Contents/MacOS/lib/libWDP11_BR_GOV.dylib"
	}
]
