[
	{
		"name":"SafeSignUSBToken",
		"library":"/usr/lib/libaetpkss.so"
	},
	{
		"name":"Token1",
		"library":"/usr/lib/libgpkcs11.so"
	},
	{
		"name":"Token2",
		"library":"/usr/lib/libgpkcs11.so.2"
	},
	{
		"name":"Token3",
		"library":"/usr/lib/libepsng_p11.so"
	},
	{
		"name":"Token4",
		"library":"/usr/lib/libepsng_p11.so.1"
	},
	{
		"name":"Token5",
		"library":"/usr/local/ngsrv/libepsng_p11.so.1"
	},
	{
		"name":"Token6",
		"library":"/usr/lib/libeTPkcs11.so"
	},
	{
		"name":"Token7",
		"library":"/usr/lib/libeToken.so"
	},
	{
		"name":"Token8",
		"library":"/usr/lib/libeToken.so.4"
	},
	{
		"name":"Token9",
		"library":"/usr/lib/libcmP11.so"
	},
	{
		"name":"Token10",
		"library":"/usr/lib/libwdpkcs.so"
	},
	{
		"name":"Token11",
		"library":"/usr/local/lib64/libwdpkcs.so"
	},
	{
		"name":"Token12",
		"library":"/usr/local/lib/libwdpkcs.so"
	},
	{
		"name":"Token13",
		"library":"/usr/lib/watchdata/ICP/lib/libwdpkcs_icp.so"
	},
	{
		"name":"Token14",
		"library":"/usr/lib/watchdata/lib/libwdpkcs.so"
	},
	{
		"name":"Token15",
		"library":"/opt/watchdata/lib64/libwdpkcs.so"
	},
	{
		"name":"Token16",
		"library":"/usr/lib/opensc-pkcs11.so"
	},
	{
		"name":"Token17",
		"library":"/usr/lib/pkcs11/opensc-pkcs11.so"
	},
	{
		"name":"Token18",
		"library":"/usr/local/ngsrv/libepsng_p11.so.1.2.2"
	},
	{
		"name":"Token19",
		"library":"/usr/lib/libneoidp11.so"
	}
]
