[
	{
		"name":"Token1",
		"library":"C:/Windows/system32/ngp11v211.dll"
	},
	{
		"name":"Token2",
		"library":"C:/Windows/system32/aetpkss1.dll"
	},
	{
		"name":"Token3",
		"library":"C:/Windows/system32/gclib.dll"
	},
	{
		"name":"Token4",
		"library":"C:/Windows/system32/pk2priv.dll"
	},
	{
		"name":"Token5",
		"library":"C:/Windows/system32/w32pk2ig.dll"
	},
	{
		"name":"Token6",
		"library":"C:/Windows/system32/eTPkcs11.dll"
	},
	{
		"name":"Token7",
		"library":"C:/Windows/system32/acospkcs11.dll"
	},
	{
		"name":"Token8",
		"library":"C:/Windows/system32/dkck201.dll"
	},
	{
		"name":"Token9",
		"library":"C:/Windows/system32/dkck232.dll"
	},
	{
		"name":"Token10",
		"library":"C:/Windows/system32/cryptoki22.dll"
	},
	{
		"name":"Token11",
		"library":"C:/Windows/system32/acpkcs.dll"
	},
	{
		"name":"Token12",
		"library":"C:/Windows/system32/slbck.dll"
	},
	{
		"name":"Token13",
		"library":"C:/Windows/system32/cmP11.dll"
	},
	{
		"name":"Token14",
		"library":"C:/Windows/system32/WDPKCS.dll"
	},
	{
		"name":"Token15",
		"library":"C:/Windows/System32/WatchData/Watchdata ICP CSP v1.0/WDPKCS.dll"
	},
	{
		"name":"Token16",
		"library":"C:/Windows/System32/Watchdata/Watchdata Brazil CSP v1.0/WDPKCS.dll"
	},
	{
		"name":"Token17",
		"library":"C:/Arquivos de programas/Gemplus/GemSafe Libraries/BIN/gclib.dll"
	},
	{
		"name":"Token18",
		"library":"C:/Program Files/Gemplus/GemSafe Libraries/BIN/gclib.dll"
	},
	{
		"name":"Token19",
		"library":"C:/system32/SerproPkcs11.dll"
	},
	{
		"name":"Token20",
		"library":"C:/Windows/system32/SerproPkcs11.dll"
	}
]
